<script setup lang="ts">
import { defineProps } from "vue";

type Props = {
  text: string;
};

const props = defineProps<Props>();
</script>

<template>
  <div class="card empty-card-border d-flex justify-content-center">
    <p class="card-subtitle text-muted text-center">
      {{ text }}
    </p>
  </div>
</template>

<style scoped lang="scss">
.empty-card-border {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0%25' y='0%25' width='100%25' height='100%25' fill='transparent' stroke='rgb(154, 157, 164)' stroke-width='4px' stroke-dasharray='32 32' stroke-dashoffset='2' /%3E%3C/svg%3E");
  border-radius: 4px;
}

.card {
  height: 100%;
  width: 100%;
  border: none;
}
</style>
