<script setup lang="ts">
import { routes } from "@/router";
</script>

<template>
  <nav
    class="navbar navbar-expand bg-white text-center rounded-1 px-4 py-0 mb-3"
  >
    <ul class="navbar-nav">
      <li class="nav-item" v-for="item in routes" :key="item.path">
        <router-link
          :to="item.path"
          class="nav-link px-4"
          :class="{ active: $route.path === item.path }"
        >
          {{ item.name }}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped lang="scss">
@import "@/main.scss";

.nav-link {
  padding-top: 20px;
  padding-bottom: 18px;
  color: #9a9da4;
  font-weight: 500;
}

.active {
  border-bottom: 2px solid $primary-color;
}
</style>
