<script setup lang="ts">
import BusTabs from "@/components/BusTabs/BusTabs.vue";
import { computed, onMounted } from "vue";
import { ACTIONS_TYPES } from "@/store/actions";
import { useStore } from "@/store";

const store = useStore();
const items = computed(() => store.state.items);

onMounted(() => {
  if (!items.value) store.dispatch(ACTIONS_TYPES.FETCH_ITEMS);
});
</script>

<template>
  <div v-if="items" class="wrapper">
    <h1 class="fw-semibold fs-4 mb-4">Timetable</h1>

    <BusTabs />

    <router-view />
  </div>
</template>

<style scoped lang="scss">
.wrapper {
  padding: 40px 32px;
}
</style>
