@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F9;
}

$primary-color: #1952e1;
$primary-color-hover: #1649CA;
$primary-color-active: #2E3E6E;

$muted-color: #9A9DA4;

$background-color-hover: #F8F8FB;