<script setup lang="ts">
import { useStore } from "@/store";
import { computed, ref } from "vue";
import SearchIcon from "@/components/helpers/SearchIcon.vue";

const order = ref<"asc" | "desc">("desc");
const setOrder = () => (order.value = order.value === "asc" ? "desc" : "asc");

const search = ref<string>("");

const store = useStore();
const stops = computed(() =>
  store.getters.allStops({
    order: order.value,
    search: search.value,
  }),
);
</script>

<template>
  <div class="bg-white rounded-1" style="height: 100%">
    <label class="d-block px-2 py-2 search position-relative">
      <input
        type="text"
        class="form-control px-3 search-input"
        style="height: 40px; font-size: 0.875rem"
        placeholder="Search..."
        v-model="search"
      />
      <SearchIcon class="search-icon" />
    </label>

    <table class="table">
      <thead>
        <tr>
          <th
            class="px-4 py-4 cur"
            style="font-size: 0.875rem; cursor: pointer"
            @click="setOrder"
          >
            Bus Stops
            <img src="@/assets/sort.svg" alt="" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in stops"
          :key="item"
          class="item"
          style="font-size: 0.875rem"
        >
          <td class="px-4">
            {{ item }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped lang="scss">
@import "@/main.scss";

.search {
  max-width: 288px;
  width: 100%;

  &:focus {
    & .search-input {
    }
  }

  &-input {
    &:focus {
      border-color: $primary-color;
      box-shadow: none;

      & + .search-icon {
        fill: $primary-color;
      }
    }
  }

  &-icon {
    fill: $muted-color;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;

    width: 16px;
    height: 16px;
  }
}

.item {
  height: 55px;
  vertical-align: middle;
}
</style>
