<script setup lang="ts">
import { useStore } from "@/store";
import { computed } from "vue";
import { ACTIONS_TYPES } from "@/store/actions";

const store = useStore();
const lines = computed(() => store.getters.allLines);
const selectedLine = computed(() => store.state.selectedLine);
const setSelectedLine = (line: number) => {
  store.dispatch(ACTIONS_TYPES.SELECT_STOP, { name: null });
  store.dispatch(ACTIONS_TYPES.SELECT_LINE, { line });
};
</script>

<template>
  <div class="bg-white rounded-1 px-4 py-4">
    <h6 class="fw-semibold">Select Bus Line</h6>

    <div class="pt-4 clearfix d-flex gap-2 flex-wrap">
      <button
        v-for="line in lines"
        :key="line"
        @click="setSelectedLine(line)"
        class="btn btn-primary"
        :class="{ active: selectedLine === line }"
      >
        {{ line }}
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/main.scss";

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn.btn-primary.active {
  background-color: $primary-color-active;
  border-color: $primary-color-hover;
}
</style>
