<script setup lang="ts">
import BusLinesSelect from "@/components/BusLines/BusLinesSelect.vue";
import BusLineStops from "@/components/BusLines/BusLineStops.vue";
import BusStopsTime from "@/components/BusLines/BusStopsTime.vue";
import { onUnmounted } from "vue";
import { ACTIONS_TYPES } from "@/store/actions";
import { useStore } from "@/store";

onUnmounted(() => {
  const store = useStore();

  store.dispatch(ACTIONS_TYPES.SELECT_STOP, { name: null });
  store.dispatch(ACTIONS_TYPES.SELECT_LINE, { line: null });
});
</script>

<template>
  <BusLinesSelect />

  <div class="row mt-3 gap-3">
    <div class="col"><BusLineStops /></div>

    <div class="col"><BusStopsTime /></div>
  </div>
</template>

<style scoped lang="scss"></style>
