<script setup lang="ts">
import { useStore } from "@/store";
import { computed, ref } from "vue";
import EmptyCard from "@/components/helpers/EmptyCard.vue";
import { ACTIONS_TYPES } from "@/store/actions";

const store = useStore();
const selectedLine = computed(() => store.state.selectedLine);

const order = ref<"asc" | "desc">("asc");
const setOrder = () => (order.value = order.value === "asc" ? "desc" : "asc");

const stops = computed(() =>
  store.getters.allLineStops({ line: selectedLine.value!, order: order.value }),
);
const selectedStop = computed(() => store.state.selectedStop);
const setSelectedStop = (name: string) =>
  store.dispatch(ACTIONS_TYPES.SELECT_STOP, { name });
</script>

<template>
  <div class="wrapper bg-white">
    <div v-if="selectedLine" class="bg-white rounded-1" style="height: 100%">
      <h6 class="fw-semibold px-4 py-4 pb-0">Bus Line: {{ selectedLine }}</h6>

      <table class="table">
        <thead>
          <tr>
            <th
              @click="setOrder"
              class="px-4 py-4 cur"
              style="font-size: 0.875rem; cursor: pointer"
            >
              Bus Stops
              <img src="@/assets/sort.svg" alt="" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in stops"
            :key="item"
            class="item"
            :class="{ selected: selectedStop === item }"
            style="font-size: 0.875rem"
          >
            <td class="px-4" @click="() => setSelectedStop(item)">
              {{ item }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <EmptyCard v-if="!selectedLine" text="Please select the bus stop first" />
  </div>
</template>

<style scoped lang="scss">
@import "@/main.scss";

.wrapper {
  height: 444px;
  overflow: auto;
}

.item {
  height: 55px;
  vertical-align: middle;

  &:hover {
    background-color: $background-color-hover;
    cursor: pointer;
  }
}

.selected {
  color: $primary-color;
}
</style>
