<script setup lang="ts">
import { useStore } from "@/store";
import { computed } from "vue";
import EmptyCard from "@/components/helpers/EmptyCard.vue";

const store = useStore();
const selectedLine = computed(() => store.state.selectedLine);

const stops = computed(() =>
  store.getters.allLineStops({ line: selectedLine.value! }),
);
const selectedStop = computed(() => store.state.selectedStop);

const times = computed(() =>
  store.getters.allLineStopTimes({
    line: selectedLine.value!,
    stop: selectedStop.value!,
  }),
);
</script>

<template>
  <div class="wrapper bg-white">
    <div v-if="selectedStop" class="bg-white rounded-1" style="height: 100%">
      <h6 class="fw-semibold px-4 py-4 pb-0">Bus Stop: {{ selectedStop }}</h6>

      <table class="table">
        <thead>
          <tr>
            <th class="px-4 py-4" style="font-size: 0.875rem">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in times"
            :key="item"
            class="item"
            style="font-size: 0.875rem"
          >
            <td class="px-4">{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <EmptyCard
      v-if="!selectedLine || !selectedStop"
      v-bind="{
        text: (() => {
          if (!selectedLine) return 'Please select the bus line first';
          if (!selectedStop) return 'Please select the bus stop first';
        })(),
      }"
    />
  </div>
</template>

<style scoped lang="scss">
@import "@/main.scss";

.wrapper {
  height: 444px;
  overflow: auto;
}

.item {
  height: 55px;
  vertical-align: middle;
}
</style>
